{% block collection_widget %}
    {% from _self import collection_entry %}
    {% set attr = {class: "#{class_name(attr.class ?? '')} collection"} + attr + {'data-component-collection': []} %}

    {% if restore_order|default(false) %}
        {% set attr = {'data-component-collection': attr['data-component-collection'] + {preserve_names: true}} + attr %}
    {% endif %}

    <div {{ block('widget_container_attributes') }}>
        {% if prototype is defined %}
            {% if prototype.vars.collection_compound ?? prototype.vars.compound %}
                <div class="collection__header">
                    {% for child in prototype %}
                        {% set type = child.vars.block_prefixes[child.vars.block_prefixes|length - 2] %}

                        {% if 'hidden' not in child.vars.block_prefixes and (type != 'scalar_object' or 'hidden' not in child.value.vars.block_prefixes) %}
                            {% set label = form_label(child, null, {widget: ''}) %}

                            {% if label matches '~\\sclass\\s*=\\s*["\'](?:[^"\']*\\s+)?form-group(?:\\s+[^"\']*)?["\']~' %}
                                {{ label|raw }}
                            {% else %}
                                <div class="form-group">{{ label|raw }}</div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <span class="collection-actions"></span>
                </div>
            {% endif %}

            <div
                class="collection__body"
                data-prototype="{{ collection_entry(prototype)|e('html_attr') }}"
                data-prototype-name="{{ prototype.vars.name }}"
                data-allow-add="{{ allow_add }}"
                data-allow-remove="{{ allow_delete }}"
                data-name-prefix="{{ full_name }}"
            >
                {% for child in form %}
                    {{ collection_entry(child) }}
                {% endfor %}
            </div>
        {% endif %}

        {{ form_rest(form) }}
    </div>
{% endblock %}

{% macro collection_entry(form) %}
    {% set is_compound = form.vars.collection_compound ?? form.vars.compound %}

    <div {{ is_compound ? form_widget_attributes(form, {attr: {class: "collection__entry #{form.vars.attr.class ?? ''}"}}) : 'class="collection__entry"' }}>
        {% if is_compound %}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        {% else %}
            {{ form_row(form) }}
        {% endif %}

        <div class="collection-actions">
            {{ form_block('actions', form) }}
        </div>
    </div>
{% endmacro %}

{% block form_actions %}
    <a href="#" class="collection-remove"></a>
    <a href="#" class="collection-move"></a>
    <a href="#" class="collection-add"></a>
{% endblock %}
