{% block collection_widget %}
    {% from _self import collection_entry %}
    {% set attr = {class: "#{class_name(attr.class ?? '')} collection"} + attr + {'data-component-collection': []} %}

    {% if restore_order|default(false) %}
        {% set attr = {'data-component-collection': attr['data-component-collection'] + {position_field_selector: true}} + attr %}
    {% endif %}

    <div {{ block('widget_container_attributes') }}>
        {% if prototype.vars.compound %}
            <div class="collection__header">
                {% for child in prototype %}
                    {% if child.vars.block_prefixes[child.vars.block_prefixes|length - 2] != 'hidden' %}
                        <div class="form-group">{{ form_label(child) }}</div>
                    {% endif %}
                {% endfor %}

                <span class="collection-actions"></span>
            </div>
        {% endif %}

        <div
            class="collection__body"
            data-prototype="<div class='collection__entry'>{{ collection_entry(prototype)|e('html_attr') }}</div>"
            data-prototype-name="{{ prototype.vars.name }}"
            data-allow-add="{{ allow_add }}"
            data-allow-remove="{{ allow_delete }}"
            data-name-prefix="{{ full_name }}"
        >
            {% for child in form %}
                <div class="collection__entry">
                    {{ collection_entry(child) }}
                </div>
            {% endfor %}
        </div>

        {{ form_rest(form) }}
    </div>
{% endblock %}

{% macro collection_entry(form) %}
    {% if form.vars.compound %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endmacro %}
