{% block scalar_object_label -%}
    {% set label_attr = label_attr + {for: form.value.vars.id} -%}
    {{ block('form_label') -}}
{% endblock %}

{% block scalar_object_widget -%}
    {{ form_widget(form.value) -}}
{% endblock %}

{% block vanio_date_widget %}
    <div class="input-group datepicker date" data-component-date-picker data-min-view="2">
        {% set type = 'text' %}
        {{ block('form_widget_simple') }}
        <span class="input-group-addon btn btn-primary"><i class="icon s7-date"></i></span>
    </div>
{% endblock %}

{% block uploaded_file_widget %}
    {% set files = {} %}
    {% for key, file in multiple ? data : (data ? [data] : []) %}
        {% set url = file.file.pathname|replace({(web_root): '', '\\': '/'}) %}
        {% set files = files + {(key): {
            name: file.metadata.name ?? file.file.basename,
            mime: file.metadata.mime ?? null,
            size: file.metadata.size,
            url: thumbnail_filter is defined ? url|imagine_filter(thumbnail_filter) : url,
            key: key,
            status: 'uploaded',
        }} %}
    {% endfor %}

    {% set options = {
        url: path('vanio_web_uploaded_files_upload'),
        maxFiles: multiple ? null : 1,
        acceptedFiles: accept,
        dictInvalidFileType: invalidMessage ?? 'uploadedFile.invalidMessage'|trans({}, translation_domain)
    } %}

    <div class="dropzone-widget" data-component-dropzone="{{ options|json_encode }}" data-dropzone-target="#{{ form.files.vars.id }}" data-dropzone-files="{{ files|json_encode }}">
        <div class="dz-message">
            <span class="icon"></span>
            <h4>{{ uploadMessage ?? "uploadedFile.#{multiple ? 'multiple' : 'single'}UploadMessage"|trans({}, translation_domain) }}</h4>
        </div>
    </div>

    {{ form_widget(form) }}
{% endblock %}

{% block uploaded_image_widget %}
    {{ form_widget(form, {
        uploadMessage: "uploadedImage.#{multiple ? 'multiple' : 'single'}UploadMessage"|trans({}, translation_domain),
        invalidMessage: "uploadedImage.invalidMessage"|trans({}, translation_domain),
    }) }}
{% endblock %}

{% block location_label %}
    {% set label_attr = label_attr + {for: form.address.vars.id} %}
    {{ block('form_label') }}
{% endblock %}

{% block location_widget %}
    {% set attr = {
        class: "#{class_name(attr.class ?? '')} location",
        'data-component-location': '{}',
    } + attr %}

    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}

        {{ form_row(form.address, {attr: {class: 'location__address'}} + (icon is defined ? {icon: icon} : [])) }}
        {{ form_row(form.latitude, {attr: {class: 'location__latitude'}}) }}
        {{ form_row(form.longitude, {attr: {class: 'location__longitude'}}) }}
        {{ form_rest(form) }}
        <div class="form-errors location__not-found">{{ 'location.notFound'|trans({}, translation_domain) }}</div>
    </div>

    {{ require_js_once("//maps.googleapis.com/maps/api/js?libraries=places&key=#{googleMapsApiKey}") }}
{% endblock %}
